.App {
  text-align: center;
  background-color: lavender;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
  padding: 2em 0;
}

main {
  padding: 2em 0;
}

input {
  width: 500px;
  margin: 0 1em;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items:center;
}
form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
button {
  padding: 0.2em 1em;
  border: 0;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 10px;
}

.ride-card {

  width: 400px;
  height: 550px;
  border: rgb(129, 129, 129) outset 7px;
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
}

.ride-card img {
  width: 90%;
  height: 200px;
  border-radius: 20px;
  padding: 10px;
}

.rides-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;

}